<section>
  <div class="page-header">
    <h1>Programproviders</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="programprovider in vm.programproviders"
       ui-sref="programproviders.view({ programproviderId: programprovider._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="programprovider.created | date:'mediumDate'"></span>
        by
        <span ng-if="programprovider.user" ng-bind="programprovider.user.displayName"></span>
        <span ng-if="!programprovider.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="programprovider.name"></h4>
      <h5 class="list-group-item-heading" ng-bind="programprovider.address"></h5>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.programproviders.$resolved && !vm.programproviders.length">
    No Programproviders yet, why don't you <a ui-sref="programproviders.create">create one</a>?
  </div>
</section>
